@import "tailwindcss";

@font-face {
    font-family: 'HeadFont';
    src: url('/head.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'HeadFont1';
    src: url('/head3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }